@import url("reset.css");
@import url("ie.css");

@charset "UTF-8";
/*------------------------------------------------------------*/
/*目次　INDEX
	=0 global
	=1 heading
	=2 basic structure
	=3 navigation
	=4 commonClass,commonID
	=5 boxDesign
	=9 clearfix

search key "="+"n"

//last update 2012/03/22

--------------------------------------------------------------
base color 
-------------------------------------------------------------

-------------------------------------------------------------*/

/*=0 global
-------------------------------------------------------------*/
body {
	font-size:80%;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	line-height:1.5;
	background: #fcf5d1;
	color:#444;
}
h1,h2,h3,h4,h5,ul,ol,dl,table,p {
	margin-bottom: 15px;
}
a:hover {
	text-decoration: none;
}
table,th,td {
	border-collapse: collapse;
	border:1px solid #eed8b1;
}
table {
	width:100%;
}
th,td {
	padding:5px;
}
th {
	background:#fcf5d1;
	text-align: center;
	white-space: nowrap;
}
td input,td textarea,dd input,dd textarea {
	xwidth:95%;
}
input,textarea {
	padding:3px;
	font-size:110%;
	margin:0px 3px;
}
.searchBox input {
	margin-right:10px;
}
input.file {
	position: relative;
	text-align: right;
	x-moz-opacity:0 ;
	xfilter:alpha(opacity: 0);
	xopacity: 0;
	xz-index: 2;
	height:30px;
	width:200px;
	margin:0px;
	xdisplay: block;
}
input.file:hover {
	cursor: pointer;
}
.btn-upload {
	position:relative;
	xbackground:url(../img/admin/btn-upload.png) no-repeat left center;
	height:30px;
	width:200px;
	margin-bottom:10px;
}
.searchTxt {
	width:110px;
	float:left;
}
/*=1 heading
-------------------------------------------------------------*/
h1 {
	color:#6f4335;
	font-weight: bold;
	font-size: 140%;
	margin-bottom:15px;
	background: url(../img/admin/h1-back.png) no-repeat left center;
	padding-left:14px;
}
h2 {
	clear:both;
	font-weight: bold;
	font-size:120%;
	color: #77ad6e;
	border-bottom:1px solid #DDD;
}
h3 {
	font-weight:bold;
	font-size: 110%;
}
#primary h2 {
	padding-bottom:10px;
}
#secondary h2 {
	color:#FFF;
	font-size:100%;
	padding:5px 8px;
	background: #6f4335;
	margin-bottom: 10px;
	border-radius: 4px;	/* CSS3草案 */
	-webkit-border-radius: 4px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 4px;	/* Firefox用 */
}

/*=2 basic structure
-------------------------------------------------------------*/
#wrapper {
	width:960px;
	text-align:left;
	margin:0 auto;
	}
#header {
	padding:15px 0px 0px 0px;
	margin-bottom:15px;
	position: relative;
}
#logo {
	margin-bottom: 15px;
	padding:0px;
	background: none;
}
#header .btn-logout {
	position:absolute;
	top:20px;
	left:860px;
}
#container {
	margin-bottom: 20px;
}
.wbox,#secondary,#globalNav,#footer {
	border-radius: 6px;	/* CSS3草案 */
	-webkit-border-radius: 6px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 6px;	/* Firefox用 */
}
#primary {
	float:right;
	width:730px;
	margin-left:30px;
}
.wbox {
	clear:both;
	background: #FFF;
	padding: 15px 20px;
	border:1px solid #CCC;
	margin-bottom:20px;
}
#secondary {
	float:right;
	width:200px;
}
#secondary .wbox {
	padding:10px;
}
#secondary ul {
	margin-bottom: 0px;
}
.searchBox {
	margin:10px 0px;
}
#footer {
	background:#6f4335;
	clear:both;
	padding:20px;
	margin-bottom: 20px;
}
.tipped{
	color:#ccc;
}
/*=3 navigation
-------------------------------------------------------------*/
#globalNav {
	background:#6f4335;
	padding:10px 15px 5px 15px;
}
#globalNav li {
	float:left;
	margin-right:10px;
}
#secondary li {
	background:url(../img/admin/arr01.png) no-repeat left 0.7em;
	padding-left:10px;
	font-weight:bold;
	color:#77ad6e;
	line-height:2;
}
#secondary li a {
	color:#77ad6e;
}
#secondary li li {
	background:url(../img/admin/arr02.png) no-repeat left 0.7em;
	padding-left:10px;
	font-weight:normal;
}
#secondary li li a {
	color:#6f4335;
}
/*=4 commonClass,commonID
-------------------------------------------------------------*/
p.btn,p.btn-back {
	float:left;
}
p.btn input,p.btn-back input {
	border:0px;
	background: none;
	line-height:2.6;
	width:100%;
	font-weight: bold;
	font-size:100%;
	height:40px;
}
p.btn input,p.btn a,p.btn-back a {
	color:#6f4335;
	text-decoration: none;
	display:block;
}
p.btn,p.btn {
	width:10em;
	line-height:2.6;
	font-weight: bold;
	margin-right:15px;
	text-align:center;
	background:url(../img/admin/btn-back2.png) repeat-x bottom;
	border:3px solid #e9e9e9;
	border-radius: 6px;	/* CSS3草案 */
	-webkit-border-radius: 6px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 6px;	/* Firefox用 */
}
p.btn:hover,p.btn:hover {
	background:url(../img/admin/btn-back2_o.png) repeat-x bottom;
}
p.btn-back,p.btn-back {
	width:10em;
	display:block;
	line-height:2.6;
	font-weight: bold;
	margin-right:15px;
	text-align:center;
	background:url(../img/admin/btn-back1.png) repeat-x bottom;
	border:3px solid #e9e9e9;
	border-radius: 6px;	/* CSS3草案 */
	-webkit-border-radius: 6px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 6px;	/* Firefox用 */
}
p.btn-back:hover,p.btn-back:hover {
	background:url(../img/admin/btn-back1_o.png) repeat-x bottom;
}
p.btn-back input:hover,p.btn input:hover {
	cursor: pointer;
}
.btn-back,.btn-back a {
	color:#444 !important;
}
.zebraList tr.even {
	background:#EEE;
}
#secondary p.btn {
	width:auto;
	float:none;
	margin:0px 0px 20px 0px;
}
.link-add,.link-past,.link-back {
	clear:both;
	text-align:right;
}
.link-add a,.link-past a,.link-back a {
	padding-right:18px;
	line-height: 2em;
	display: block;
}
.link-add a {
	background: url(../img/admin/icon-add.png) no-repeat right center;

}
.link-past a {
	background: url(../img/admin/icon-past.png) no-repeat right center;
}
.link-back a {
	background: url(../img/admin/icon-back.png) no-repeat right center;
}
.link-confirm {
	line-height:20px;
	padding-left:20px;
	background: url(../img/admin/icon-confirm.png) no-repeat left center;
}
.panel-edit {
	margin-bottom:0px;
	position: relative;
}
.panel-edit li.link-edit {
	position:relative;
}
.panel-edit li a {
	background: url(../img/admin/icon-edit.png) no-repeat left center;
	padding-left:18px;
	height:20px;
	line-height:20px;
	display: block;
}
.panel-edit ul {
	position:absolute;
	left:20px;
	top:20px;
	background: #f9f9f9;
	border:1px solid #CCC;
	border-bottom:0px;
	width:7em;
	z-index: 100;
	zoom:1;
}
.panel-edit ul li {
	padding:3px;
	border-bottom:1px solid #CCC;
}
.panel-edit ul li a {
	padding-left:5px;
	background: none;
}
.f_right {
	float:right;
	margin:0 0 15px 15px;
}
.f_left {
	float:left;
	margin:0 15px 15px 0;
}
.center {
	text-align:center;
}
.toTop {
	text-align:right;
}
.pagination li {
	float:left;
	margin-right:1em;
	margin-bottom:10px;
}
.pagination .current {
	font-weight:bold;
	color:#F00;
}
/*=5 boxDesign
-------------------------------------------------------------*/
#home #primary,#login #primary {
	width:960px;
	margin-left:0px;
}
#home #primary ul {
	width:720px;
	margin:0 auto;
}
#home #primary li {
	float:left;
	margin:0px 5px;
	margin-bottom:30px;
}
#home #primary li a:hover img {
	opacity:0.4;
	filter: alpha(opacity=40);
	-moz-opacity:0.4;
}
#photoBox,#contentBox {
	float: left;
}
#photoBox {
	margin-right: 30px;
	width:200px;
}
#photoBox img {

}
#contentBox {
	width: 445px;
}
#contentBox h2 {
	padding:7px;
	line-height: 1;
}
#contentBox h2 img {
	vertical-align: center;
	margin-right:7px;
}
.bread #contentBox h2 {
	background: #ffc57f;
}
#contentBox .comment {
	font-weight: bold;
}
.bread #contentBox .comment {
	color:#ff8c00;
}
#contentBox dt,#contentBox dd {
	padding:10px 0px;

}
#contentBox dt {
	font-weight: bold;
	float:left;
	width:5em;
	clear:left;
}
#contentBox dd {
	border-bottom:1px solid #DDD;
	padding-left:5em;
}
#contentBox table {
	background: url(../img/common/sepLine.png) repeat-x top;
	border:0px;
}
#contentBox td {
	border:0px;
	background: url(../img/common/sepLine.png) repeat-x bottom;
}
#recipeBox .box {
	float:left;
	width:130px;
	margin:0px 3px 15px 4px;
	margin-bottom:15px;
}
#recipeBox .box p {
	margin-bottom: 7px;
}
#recipeBox .box .select {
	width:100%;
	border:0px;
	background:none;
}
#recipeBox .box textarea {
	width:120px;
	height:7em;
}
#recipeBox .box .num {
	font-weight:bold;
	background :#6f4335;
	color:#FFF;
	padding:3px;
	
}
#recipeBox .box span input{
	display:none;
}
.point {
	width:100%;
	height:10em;
}
#relatedBox td p {
	margin:5px 0px;
}
#loginBox {
	width:35em;
	margin:0px auto;
}
#loginBox dl {
	margin-bottom:2em;
}
#loginBox dt {
	float:left;
	clear:left;
	width:7em;
	margin:10px 0px;
	font-weight: bold;
	padding-left:16px;
}
#loginBox dt.id {
	background: url(../img/admin/icon-man.png) no-repeat left center;
}
#loginBox dt.pw {
	background: url(../img/admin/icon-key.png) no-repeat left center;
}
#loginBox dd {
	margin-left:8em;
	margin:10px 0px;
}
#loginBox dd input {
	width:20em;
}
/*=9 clearfix
-------------------------------------------------------------*/
.clearfix:after,
#container:after,
#header:after,
.wbox:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix,
#container,
#header,
.wbox {
	display:inline-table;
	zoom:1;/*for IE 5.5-7*/
}
/*Hide from IE-Mac\*/
*html .clearfix,
*html #container,
*html #header,
*html .wbox {height:1%;}
.clearfix,#container,#header,.wbox{display:block;}
/*Hide from IE-Mac*/
.clearfix,#container,#header,.wbox {overflow:visible;}/*IE7 hack*/ 
