@charset "UTF-8";
/*------------------------------------------------------------*/
/*目次　INDEX
	=0 global
	=1 heading
	=2 basic structure
	=3 navigation
	=4 commonClass,commonID
	=5 boxDesign
	=9 clearfix

search key "="+"n"

//last update 2012/03/26

--------------------------------------------------------------
base color 
-------------------------------------------------------------

-------------------------------------------------------------*/

/*=0 global
-------------------------------------------------------------*/
body {
	font-size:80%;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	line-height:1.5;
	color:#444;
	background: url(../img/common/body-back.png) top center;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,dl {
	margin-bottom: 15px;
}
table {
	width:100%;
	margin-bottom: 20px;
}
table,th,td {
	border-collapse: collapse;
	border:1px solid #ead9b2;
	background: #FFF;
}
th,td {
	padding:3px 5px;
}
th {
	white-space: nowrap;
	background: #fbf3e4;
}
a {
	color:#7e6b5a;
}
a:hover {
	text-decoration: none;
}
hr {
	color:#FFF;
	border:0px;
}
input,textarea {
	padding:3px;
	font-size: 1em;
}
/*=1 heading
-------------------------------------------------------------*/
h2 {
	font-weight: bold;
	font-size: 120%;
}
h3 {
	color:#64240d;
	font-weight:bold;
}
/*=2 basic structure
-------------------------------------------------------------*/
#header {
	background:url(../img/common/header-back.png) repeat-x top left;
	height:146px;
	margin-bottom: 10px;
	_padding-bottom:50px;
}
#wrapper {
	width:960px;
	text-align:left;
	margin:0 auto;
	}
#header #logo {
	padding:12px 0px 0px 0px;
}
#header .innerBox,
#footer .innerBox {
	width:960px;
	margin:0 auto;
	text-align:left;
	position: relative;
}
#header .box {
	width:573px;
	position:absolute;
	left: 387px;
	top:23px;
	_width:550px;
	_left:486px;
}
#container {
}
#primary {
	float:left;
	width:680px;
	margin-right:40px;
	margin-bottom:20px;
	_margin-right:39px;
}
#secondary {
	float:left;
	width:240px;
	font-size:0.9em;
	margin-bottom: 20px;
}

#secondary .box h2 {
	position:absolute;
	top:0px;
	left:-5px;
	margin-bottom: 0px;
}
#secondary .box {
	position: relative;
	padding-top:60px !important;
	margin-bottom:15px;
}
#secondary ul {
	margin:0px 12px;
}
#secondary li {
	background: url(../img/common/sepLine.png) repeat-x left bottom;
	padding:0px 0px 8px;
	margin-bottom:8px;
}
#footer {
	background:url(../img/common/footer-back.png) repeat-x top;
	clear:both;
	margin:0px;
	padding-bottom:20px;
}
#footer p,#footer dl {
	float:left;
	margin-right:30px;
	margin-bottom: 20px;
	font-size:90%;
}
#footer dt {
	font-weight: bold;
}
/*=3 navigation
-------------------------------------------------------------*/
#globalNav {
	position:absolute;
	top:92px;
	left:0px;
}
#globalNav li {
	float:left;
}
#headerNav,#headerNav li,#header .box p {
	float: left;
}
#header .box p {
	margin-top:-12px;
	_position:relative;
}
#headerNav li {
	margin-right:15px;
}
#footerNav {
	line-height:56px;
	margin-bottom:20px;
	color:#FFF;
}
#footerNav a {
	color:#FFF;
	text-decoration: underline;
}
#footerNav a:hover {
	text-decoration: none;
}
.localNav {
	clear: both;
	position: absolute;
	left:0px;
	bottom:-24px;
}
.localNav p {
	float:left;
	background: url(../img/common/localNav-back.png) no-repeat left top;
	width:100px;
	height: 30px;
	line-height:30px;
	text-align:center;
	margin:0px 0px 0px 20px;
	font-weight:bold;
	text-decoration: underline;
	color:#6f4335;
	font-size:0.9em;
}
.localNav p.current {
	background: url(../img/common/localNav-current.png) no-repeat left top;
}
.localNav .btn-back {
	float:left;
}
.localNav .btn-next {
	float:right;
}
#infoBox .localNav {
	padding-left:0px;
}

/*=4 commonClass,commonID
-------------------------------------------------------------*/
.topicPath {
	margin-bottom: 15px;
	font-size:0.9em;
	background: url(../img/common/hLine.png) left bottom repeat-x;
	padding-bottom: 10px;
}
.topicPath a {
	padding-right:15px;
	margin-right:15px;
	background: url(../img/common/arr01.png) no-repeat right center;
}
.topicPath span {
	display: none;
}
.list li a {
	padding: 0px 0px 0px 21px;
	display: block;
}
li.bread a,ul.bread a {
	background:url(../img/common/arr-bread.png) no-repeat 3px 3px;
}
li.sweets a,ul.sweets a {
	background:url(../img/common/arr-sweets.png) no-repeat 3px 3px;
}
ul.diff a {
	background:url(../img/common/arr-diff.png) no-repeat 3px 3px;
}

li.special a {
	background:url(../img/common/arr-special.png) no-repeat 3px 3px;
}
li.taiken a {
	background:url(../img/common/arr-taiken.png) no-repeat 3px 3px;
}
#secondary ul.def li a {
	padding-left:22px;
	background:url(../img/common/arr02.png) no-repeat 3px 3px;
	display: block;
}
.nb {
	border:0px !important;
}
.f_right {
	float:right;
	margin:0 0 15px 15px;
}
.f_left {
	float:left;
	margin:0 15px 15px 0;
}
.center {
	text-align:center;
}
.clear {
	clear:both;
}
.right {
	text-align: right;
}
.bnr-blog {
	margin-left:-20px;
	margin-top:-10px;
}
.btn-detail a:hover img {
	filter: alpha(opacity=40);
	-moz-opacity:0.40;
	opacity:0.40;
}
.bnr-marusan a:hover img,.bnrBox a:hover img {
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;
}
.link-back {
	margin:20px 0px;
}
.link-back a {
	padding-left:15px;
	background:url(../img/common/arr-back.png) no-repeat left center;
}
.error-message {
	color:#F00;
}
.required {
	background:url(../img/common/icon-required.png) no-repeat right center;
	padding-right:40px;
}
.article {
	margin-bottom:15px;
}
.article .meta {
	text-align:right;
	color:#AAA;
}
.tips {
	text-align: center;
}
.tips:hover {
	cursor: pointer;
}
.toTop {
	text-align:right;
}
/*=5 boxDesign
-------------------------------------------------------------*/
.mainImg {
	margin-bottom:20px;
}
.mainImg a:hover img {
	filter: alpha(opacity=40);
	-moz-opacity:0.70;
	opacity:0.70;
}
.box {
	clear:both;
	margin-bottom: 20px;
}
#primary .box {
	padding:20px;
	background: url(../img/common/primary-box-foot.png) no-repeat left bottom #FFF;
}
#secondary .box {
	position:relative;
	padding-top:52px;
	padding-bottom: 15px;
	background: url(../img/common/scd-box-back.png) no-repeat left bottom #FFF;
}
#secondary .box .innerBox {
	padding:0px 15px 0px 15px;
}
#scheduleBox a:hover img,#lessonBox a:hover img {
	filter: alpha(opacity=40);
	-moz-opacity:0.40;
	opacity:0.40;
}
/*=9 clearfix
-------------------------------------------------------------*/
.clearfix:after,
#container:after,
#header:after,
#footer:after,
.box:after,
.localNav:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix,
#container,
#header,
#footer,
.box,
.localNav {
	display:inline-table;
	zoom:1;/*for IE 5.5-7*/
}
/*Hide from IE-Mac\*/
*html .clearfix,
*html #container,
*html #header,
*html #footer,
*html .box,
*html .localNav {height:1%;}
.clearfix,#container,#header,#footer,.box,.localNav {display:block;}
/*Hide from IE-Mac*/
.clearfix,#container,#header,#footer,.box,.localNav {overflow:visible;}/*IE7 hack*/ 
