/* -----------------------------------------------------------------------

   Blueprint CSS Framework 0.7 (Date TBD) 
   http://blueprintcss.googlecode.com

   * Copyright (c) Olav Bjorkoy 2007 - 2008. See docs/license.txt for more info.
   * See docs/readme.txt for instructions on how to use Blueprint.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */

/* ie.css */
body {text-align:center;}
.container {text-align:left;}
* html .column {overflow-x:hidden;}
.pull-1, .pull-2, .pull-3, .pull-4, .push-1, .push-2, .push-3, .push-4 {position:relative;}
* html legend {margin:-18px -8px 16px 0;padding:0;}
ol {margin-left:2em;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
html>body p code {*white-space:normal;}
* html .iepngfix {
  behavior: url(js/iepngfix.htc);
}
