@charset "UTF-8";
/*------------------------------------------------------------*/
/*目次　INDEX
	=0 home
	=1 welcome
	=2 lesson
	=3 recipe
	=4 pantry,kitchenshop
	=5 staff
	=6 privacy
	=7 sitemap

search key "="+"n"

//last update 2012/03/26

--------------------------------------------------------------
base color
-------------------------------------------------------------

-------------------------------------------------------------*/

/*=0 home
-------------------------------------------------------------*/
#home #slideContents{
	width:966px;
	margin:0px auto;
	/* overflow:hidden; */
	position: relative;
}
#home #slideContents .fl{ float:left;}
#home #slideContents .slidepart{ width:966px; height:355px; overflow:hidden; position:relative;}
#home #slideContents .slidepart img {position:absolute;display:none;}
#home #slideContents .sl_paginationpart{width:auto; height:15px; display:block; position:absolute; right:0px; bottom:0px; padding:6px;}
#home #slideContents .number{
	display:none;
}

#home #slide {
	margin: 20px 0px 15px 0px;
	position:relative;
	height:100%;
}
#home #slideContents .arr-back,#home #slideContents .arr-next {
	position:absolute;
	top:170px;
	left:-25px;
}
#home #slideContents .arr-next {
	left:935px;
}
#home #slide a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;
}
#home #scheduleBox,#home #ossmBox {
	float:left;
}
#home #slideBox {
	position:relative;
	height:100%;
}
#home #primary .box {
	padding:0px;
	background: none;
}
#home #primary #lessonBox {
	background: url(../img/home/lessonBox-foot.png) no-repeat left bottom #FFF;
	margin-bottom: 35px;
	position: relative;
}
#home #primary #lessonBox .localNav {
	left:-10px;
	bottom:-46px;
}
#home #lessonBox h2,
#home #lessonBox p,
#home #lessonBox dl {
	margin-bottom:0px;
}
#home #scheduleBox {
	width:455px;
	font-size:0.9em;
	padding-bottom:10px;
}
#home #ossmBox {
	width:225px;
	font-size:0.9em;
}
#home #ossmBox h3 {
	font-size:1em;
	margin-bottom:5px;
	font-weight:bold;
	margin:10px 0px;
}
#home #ossmBox .cat {
	margin-top:10px;
}
#home #lessonBox .box {
	padding:12px;
}
#home #lessonBox dl {
	width:195px !important;
	float:left;
	margin:0px 10px 20px 10px;
	_margin:0px 12px 20px 6px;
}
#home #lessonBox dt {
	float:left;
}
#home #lessonBox dt a:hover img {

}
#home #lessonBox dd {
	margin-left:75px;
}
#home #lessonBox dt p,#home #lessonBox dd p {
	margin-bottom: 5px;
}
#home #lessonBox .localNav {
	margin:15px 12px 25px 12px;
}
#home #contentsBox {
	clear:both;
	margin-bottom: 0px;
}
#home #contentsBox .box {
	width:210px;
	margin-right:24px;
	background: url(../img/home/box-back.png) no-repeat left bottom;
	padding-top:105px;
	position: relative;
	float:left;
	clear:none;
}
#home #contentsBox .box div {
	padding:12px;
}
#home #contentsBox .box h2 {
	margin-bottom: 10px;
}
#home #contentsBox .box .img {
	position: absolute;
	top:0px;
	left:-10px;
}
#home #contentsBox #ecBox {
	margin-right:0px;
}
#home #newsBox {
	margin-top:-4px;
	padding-top: 80px !important;
}
#home #newsBox h2 {
	position:absolute;
	left:-29px;
	top:0px;
}
#home #contentsBox h2 a:hover img {
	filter: alpha(opacity=40);
	-moz-opacity:0.40;
	opacity:0.40;
}
/*=1 welcome
-------------------------------------------------------------*/
#welcome #welcomeBox {
	background: url(../img/welcome/welcome.png) no-repeat left top;
	width:680px;
	height:612px;
	position: relative;
	margin-bottom:20px;
}
#welcome #welcomeBox h2,#welcome #welcomeBox p {
	position:absolute;
}
#welcome #welcomeBox h2 {
	top:25px;
	left:90px;
}
#welcome #welcomeBox p {
	top:175px;
	left:75px;
}
#welcome #primary .box {
	padding-top:80px;
	position: relative;
	margin-bottom:10px;
}
#welcome #primary .box h2 {
	position: absolute;
	left:0px;
	top:0px;
}
#welcome #primary .box .btn-detail {
	position:absolute;
	top:22px;
	left:555px;
}
#welcome #primary .box .innerBox {
	padding-left:140px;
	min-height:100px;
}
#welcome #primary .box .innerBox p {
	margin-bottom:0px;
}
#welcome #primary #kitchenBox .innerBox {
	background: url(../img/welcome/back-kitchen.png) no-repeat left center;
}
#welcome #primary #pantryBox .innerBox {
	background: url(../img/welcome/back-pantry.png) no-repeat left center;
}
#welcome #primary #kitchenshopBox .innerBox {
	background: url(../img/welcome/back-kitchenshop.png) no-repeat left center;
}
#welcome #primary #webshopBox .innerBox {
	background: url(../img/welcome/back-webshop.png) no-repeat left center;
}
#welcome #primary #marusanBox .innerBox {
	background: url(../img/welcome/back-marusan.png) no-repeat left center;
}
/*=2 lesson
-------------------------------------------------------------*/
#lesson .mainImg {
	margin-bottom:15px;
}
#lesson #photoBox,#lesson #contentBox,
#reserve #photoBox,#reserve #contentBox {
	float: left;
}
#lesson #photoBox,#reserve #photoBox {
	margin-right: 16px;
}
#lesson #photoBox p,#reserve #photoBox p {
	background: url(../img/lesson/photo-back.png) no-repeat left top;
	padding:6px 7px 60px 7px;
	width:260px;
}
#lesson #photoBox p img,#reserve #photoBox p img {
	width:260px;
	height:260px;
}
#lesson #contentBox {
	width: 350px;
}
#contentBox h2 {
	padding:7px;
	padding-left:65px;
	line-height: 1;
}
.bread #contentBox h2 {
	background: url(../img/common/icon-bread.png) no-repeat 7px 0.5em #ffc57f;
}
.special #contentBox h2 {
	background: url(../img/common/icon-special.png) no-repeat 7px 0.5em #dbcce3;
}
.sweets #contentBox h2 {
	background: url(../img/common/icon-sweets.png) no-repeat 7px 0.5em #f9d1d6;
}
.taiken #contentBox h2 {
	background: url(../img/common/icon-taiken.png) no-repeat 7px 0.5em #d2e7a5;
}
#lesson #contentBox .comment {
	font-weight: bold;
}
#lesson .bread #contentBox .comment {
	color:#ff8c00;
}
#lesson .special #contentBox .comment {
	color:#8957a1;
}
#lesson .sweets #contentBox .comment {
	color:#eb6877;
}
#lesson .taiken #contentBox .comment {
	color:#8fc31f;
}
#lesson #contentBox dt,#lesson #contentBox dd {
	padding:0px 0px 8px;
	margin-bottom:8px;
}
#lesson #contentBox dt {
	font-weight: bold;
	float:left;
	width:5em;
}
#lesson #contentBox dd {
	padding-left:5em;
	background: url(../img/common/sepLine.png) repeat-x left bottom;
}
#lesson #scheduleBox {
	position:relative;
	padding-top:80px;
	padding-bottom: 40px;
	margin-bottom:50px;
}
#lesson #scheduleBox h2 {
	position: absolute;
	left:0px;
	top:0px;
}
#lesson #scheduleBox dl {
	float:left;
	width:310px;
	margin:0px 20px 15px 0px;
	_margin:0px 12px 20px 0px;
}

#lesson #scheduleBox dl ul {
	float:right;
	margin-top:-22px;
	margin-bottom: 0px;
}
#lesson #scheduleBox dl li {
	float:left;
	margin-left:3px;
	padding:3px 5px;
	font-size:0.8em;
	color:#FFF;
	line-height:1;
	font-weight:bold;
	border-radius: 10px;
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
}

#lesson #calendarBox td p {
	padding:1px 3px;
	margin-bottom: 3px;
	font-size:0.75em;
	color:#FFF;
}
*+html #lesson #calendarBox td p {
	font-size:0.7em;
}
#lesson #calendarBox td p a {
	color:#FFF;
}
#lesson #calendarBox .localNav {
	position: relative;
	clear:both;
	top:0px;
	left:0px;
	padding:0px;
	margin-bottom:30px;
	border-left:1px solid #DDD !important;
}
#lesson #calendarBox .localNav p {
	background:none;
	border-right:1px solid #DDD;
	margin-left:0px;
	line-height:1.5;
	height:auto;
	color:#666;
}
#lesson #calendarBox .localNav p.current {
	color:#e60012 !important;
}
#lesson #scheduleBox dl.bread li,
#lesson #calendarBox td p.bread {
	background:#ff8c00;
}
#lesson #scheduleBox dl.special li,
#lesson #calendarBox td p.special {
	background:#8957a1;
}
#lesson #scheduleBox dl.sweets li,
#lesson #calendarBox td p.sweets {
	background:#eb6877;
}
#lesson #scheduleBox dl.taiken li,
#lesson #calendarBox td p.taiken {
	background:#8fc31f;
}
#lesson #scheduleBox dt {
	float:left;
}
#lesson #scheduleBox dd {
	margin-left:75px;
}
#lesson #scheduleBox dt p,#lesson #scheduleBox dd p {
	clear:right;
	margin-bottom: 5px;
}
#lesson #flowBox ul {
	margin-bottom: 10px;
}
#lesson #flowBox li {
	margin:0px;
	background: none;
	padding: 0px 0px 2px 0px;
}
#lesson #flowBox p {
	margin-left:10px;
	margin-bottom:7px;
}
#lesson #flowBox .bnr a:hover img {
	filter: alpha(opacity=40);
	-moz-opacity:0.40;
	opacity:0.40;
}
#lesson #calendarBox {
	position:relative;
	padding-top:70px;
}
#lesson #calendarBox h2 {
	position: absolute;
	left:0px;
	top:0px;
}
#lesson .calendarBox {
	padding-top:15px;
}
#lesson #calendarBox {
	font-family: "Helvetica","Arial",sans-sefif;
	color:#a1a1a1;
}
#lesson #calendarBox .month {
	font-size:30px;
	margin-bottom:0px;
}
#lesson #calendarBox .month span {
	display:block;
	float:right;
	font-weight: normal;
	font-size:16px;
}
#lesson #calendarBox table,#lesson #calendarBox th {
	border:0px;
	background:none;
}
#lesson #calendarBox .thCalenderHeader {
	display:none;
}
#lesson #calendarBox th {
	text-align: center;
}
#lesson #calendarBox td {
	border:1px solid #dfdfdf;
	width:13%;
	height:80px;
	vertical-align: top;
}
#lesson .sun {
	color:#e1666b
}
#lesson .sat {
	color:#7496c0
}
#lesson .refine {
	text-align:right;
	clear: both;
}
#lesson .refine img {
	margin-left:5px;
}
#lesson #scheduleBox .localNav {
	margin: 0px;
}
#lesson #calendarBox .localNav {
	border:0px;
	margin:0px;
	padding-top:0px;
}
#lesson #reserveBox,#lesson #todayBox {
	position: relative;
	padding-top:70px;
}
#lesson #reserveBox h2,#lesson #todayBox h2 {
	position: absolute;
	top:0px;
	left:0px;
}
#lesson #reserveBox .beforeBox {
	border:1px solid #7cab61;
	margin:0px auto;
	width:540px;
	padding:5px 15px 0px 15px;
	margin-bottom:10px;
	font-size:0.9em;
}
#lesson #reserveBox .beforeBox h3 {
	font-size:120%;
	border:0px;
	color:#7cab61;
	margin-bottom:10px;
	line-height:1;
}
#lesson #reserveBox .beforeBox span {
	color:#F00;
}
#lesson #reserveBox .caution {
	color:#7e6b5a;
	border:1px solid #7e6b5a;
	padding:5px;
	margin:0px 40px 20px 40px;
	text-align:center;
}
#lesson #todayBox .cautionBox {
	border:1px dotted #7e6b5a;
	color:#7e6b5a;
	padding:15px 15px 0px 15px;
	float:right;
	width:390px;
}
#lesson #todayBox .cautionBox dt {
	float:left;
	clear:left;
	width:200px;
}
#lesson #todayBox .cautionBox dd {
	margin-left:220px;
	width:166px;
	margin-bottom: 15px;
}
#lesson #reserveBox h3,#lesson #todayBox h3 {
	border-top:1px solid #e5e5e5;
	padding-top:10px;
}
#lesson .flow .f_right {
	margin-top:5px;
}

#lesson div.tipwrap{
	position: relative;
	z-index:500;
}
#lesson div.tip{
	position: absolute;
	background: url(../img/lesson/popup-bg.png) no-repeat left bottom;
	width:200px;
	padding-bottom: 11px;
	left: -60px;
	top:16px;
	z-index:1000;
}
*+html #lesson div.tip{
	padding-bottom: 6px;
}
#lesson div.ltip .tip{
	background-position: -56px bottom;
}
#lesson div.rtip .tip{
	background-position: 56px bottom;
}
#lesson div.tip .inner{
	padding:10px 6px 2px 6px;
	background: #f9eacd;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
}
#lesson #calendarBox td div.tip a{
	color:#7c4736;
	text-decoration: underline;
}
#lesson #calendarBox td div.tip a:hover{
	color:#7c4736;
	text-decoration: none;
}
#lesson div.tip .inner .left{
	margin-right: 7px;
	float:left;
}
#lesson div.tip .inner img{
	margin-bottom: 5px;
}
#reserve #header {
	background-image:url(../img/lesson/reserve/header-back.png);
	height:100px;
}
#reserve #primary {
	width:960px;
}
#reserve #secondary {
	display:none;
}
#reserve #reserveBox {
	position: relative;
	padding-top: 80px;
	background: url(../img/lesson/reserve/box-foot.png) no-repeat bottom #FFF;
}
#reserve #reserveBox h2 {
	position: absolute;
	top:0px;
	left:0px;
}
#reserve #contentBox {
	float: left;
	width:630px;
	padding-bottom: 30px;
}
#reserve #contentBox dl {
	margin-bottom: 30px;
	background: url(../img/common/sepLine.png) repeat-x left top;
}
#reserve #contentBox dt {
	float:left;
	font-weight:bold;
	width:13em;
	clear: left;
	padding:10px 0px;
}
#reserve #contentBox dd {
	padding:10px 0px;
	padding-left:14em;
	background: url(../img/common/sepLine.png) repeat-x left bottom;
}
#reserve #footer {
	padding-top: 75px;
}
#reserve .btn-confirm,#reserve .btn-submit {
	margin-left:200px;
	background: url(../img/lesson/reserve/btn-confirm.png) no-repeat left center;
	width:226px;
	height:36px;
	border:0px;
	color:#FFF;
	overflow: hidden;
	padding-top:36px;
}
#reserve .btn-submit {
	background: url(../img/lesson/reserve/btn-reserve.png) no-repeat left center;
}
#reserve .cautionBox {
	width:700px;
	margin:0 auto;
	background: #e60012;
	color:#FFF;
	padding:15px 20px;
	margin-bottom:20px;
	font-size:110%;
	border-radius: 6px;
	-webkit-border-radius: 6px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 6px;	/* Firefox用 */
}
#policy {
	text-align:left;
	background:none;
	padding:30px;
}
#policy p {
	clear:both;
}
#policy h1 {
	font-weight:bold;
	font-size:130%;
}
#policy h3 {
	color:#444;
}
#policy ul.def {
	margin-left:1.5em;
}
#policy ul.def li {
	list-style-type: disc;
}
/*=3 recipe
-------------------------------------------------------------*/
#recipe #photoBox,#recipe #contentBox {
	float: left;
}
#recipe #contentBox {
	position:relative;
}
#recipe #contentBox .btn-print {
	position: absolute;
	left:205px;
	top:-48px;
}
#recipe #photoBox {
	width:323px;
	margin-right:25px;
}
#recipe #photoBox p {
	background: url(../img/recipe/photo-back.png) no-repeat left top;
	padding:6px 6px 70px 6px;
	width:322px;
}
#recipe #photoBox img {
	width:310px;
	height: 310px;
}
#recipe #contentBox {
	width:290px;
}
#recipe #contentBox h2 {
	padding-left:10px;
	background: #ffc57f;
}
#recipe #contentBox .new {
	background-image: url(../img/common/icon-new.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:50px;
}
#recipe #contentBox .diff {
	text-align:right;
}
#recipe .servingsBox h3 {
	background:url(../img/recipe/icon-servings.png) no-repeat left top;
	padding:5px 0px 5px 30px;
	margin-bottom:10px;
}
#recipe .servingsBox table,#recipe .servingsBox td {
	border:0px;
}
#recipe .servingsBox table{
	background: url(../img/common/sepLine.png) repeat-x left top;
}
#recipe .servingsBox td {
	background: url(../img/common/sepLine.png) repeat-x left bottom;
}
#recipe #recipeBox {
	clear:both;
	border:1px solid #dfdfdf;
	padding:10px;
	margin-bottom: 40px;
}
#recipe #recipeBox .box {
	background: none;
	float:left;
	width:115px;
	padding:0px;
	margin-right:10px;
	clear:none;
	font-size:0.9em;
}
#recipe #recipeBox .box p.num {
	background:url(../img/recipe/num-back.png) no-repeat left top;
	width:24px;
	height:28px;
	line-height:25px;
	text-align:center;
	font-weight: bold;
	color:#FFF;
}
#recipe #recipeBox .box p {
	margin-bottom: 5px;
}
#recipe #pointBox {
	background:#efece5;
	clear: both;
	padding:25px 20px 20px 20px;
	height:auto;
	margin-bottom: 10px;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 4px;	/* Firefox用 */
}
#recipe #pointBox h3 {
	top:-22px;
	left:20px;
	position:absolute;
}
#recipe #secondary h3 {
	margin:-5px 10px 5px 10px;
	padding-bottom: 0px;
}
#recipe #secondary ul {
	padding-top: 8px;
	margin-bottom: 10px;
	background:url(../img/common/sepLine.png) repeat-x left top;
}
#recipe #relatedBox {
	position: relative;
	padding-top: 80px;
}
#recipe #relatedBox h2 {
	position: absolute;
	top:0px;
	left:0px;
}
#recipe #relatedBox .box {
	width:150px;
	background: none;
	padding: 0px;
	float:left;
	clear:none;
	margin-right:13px;
}
#recipe #categoryBox {
	position: relative;
	padding-top:85px;
	padding-bottom: 10px;
	font-size: 0.9em;
}
#recipe #categoryBox h2 {
	position:absolute;
	left:0px;
	top:0px;
}
#recipe #categoryBox .box h3 {
	margin-bottom: 10px;
}
#recipe #categoryBox .box {
	background:#fdf7e8;
	padding:10px 15px;
}
#recipe #categoryBox .box li {
	float: left;
	margin-right:20px;
	margin-bottom:5px;
	white-space:nowrap;
}
#recipe #searchBox {
	background: url(../img/recipe/searchBox-back.png) left top;
	border:1px solid #c7a78c;
	position: relative;
	height:60px;
	margin-bottom: 20px;
}
#recipe #searchBox h2 {
	position: absolute;
	left:-1px;
	top:-14px;
}
#recipe #searchBox p {
	float: left;
	margin-bottom:0px;
}
#recipe #searchBox .btn-search {
	margin-top:1.5em;
}
#recipe #searchBox .btn-search input {
	border:0px;
	padding-top:30px;
	background:url(../img/recipe/btn-search.png) no-repeat left top;
	width:124px;
	height:27px;
	overflow:hidden;
	color:#f1dcbd;
}
#recipe #searchBox .btn-search input:hover {
	cursor: pointer;
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
}
#recipe #searchBox input.text {
	width:330px;
	font-size:1.5em;
	margin-left:150px;
	margin-top:16px;
	margin-right:15px;
	padding:2px 3px;
}
#recipe #newBox h3,#recipe #resultBox h3 {
	background-position:0px 0.3em !important;
}
#recipe #newBox,#recipe #resultBox {
	position: relative;
	padding-top:85px;
}
#recipe #resultBox {
	margin-top:-12px;
}
#recipe #newBox h2,#recipe #resultBox h2 {
	position:absolute;
	top:0px;
	left:0px;
}
#recipe #newBox .box,#recipe #resultBox .box {
	border:1px solid #cbac91;
	background: none;
	padding:0px;
	margin-bottom: 15px;
}
#recipe #newBox .box .innerBox,#recipe #resultBox .box .innerBox {
	border:5px solid #efeae6;
	margin-bottom: 0px;
	padding:10px;
}
#recipe #newBox .box p,#recipe #resultBox .box p {
	margin-bottom:0px;
}
#recipe #newBox .box h3,#recipe #resultBox .box h3 {
	color:#7da961;
	font-size: 120%;
	border-bottom:1px solid #DDD;
	padding:0px 0px 5px 0px;
}
#recipe #newBox .box h3 a,#recipe #resultBox .box h3 a {
	color:#7da961;
}
#recipe #newBox .box h3.new,#recipe #resultBox .box h3.new {
	background:url(../img/common/icon-new.png) no-repeat left center;
	padding-left:50px;
}
#recipe #newBox .box p.f_right,#recipe #resultBox .box p.f_right {
	margin:0px;
}
#recipe #newBox .box p.f_right img,#recipe #resultBox .box p.f_right img {
	border-left:20px solid #FFF;
}
#recipe #newBox .box p.btn-detail,#recipe #resultBox .box p.btn-detail {
	float: right;
	margin:0px;
}
#recipe #resultBox li {
	border:1px solid #7e6b5a;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
#recipe #resultBox li a,#recipe #resultBox li span,#recipe #resultBox .current {
	display:block;
	padding:2px 5px;
}
#recipe #resultBox .current {
	background: #7e6b5a;
	color:#FFF;
}
#recipe #resultBox .prev a,#recipe #resultBox .next a {
	padding:0px;
}
/*=4 pantry,kitchenshop
-------------------------------------------------------------*/
.hide{
	display:none;
}
#pantry #primary #infoBox,#pantry #primary #ossmBox,
#kitchenshop #primary #infoBox,#kitchenshop #primary #ossmBox {
	position: relative;
	padding-top:80px;
}
#pantry #primary #infoBox h2,#pantry #primary #ossmBox h2,
#kitchenshop #primary #infoBox h2,#kitchenshop #primary #ossmBox h2 {
	position: absolute;
	left:0px;
	top:0px;
}
#pantry #primary #infoBox .localNav,#kitchenshop #primary #infoBox .localNav {
	margin:0px;
	position:relative;
	left:0px;
	top:0px;
	border-top:1px solid #DDD;
	padding:15px 0px 5px 0px;
}
#pantry #primary #infoBox .localNav p,#kitchenshop #primary #infoBox .localNav p {
	background: none;
	margin:0px;
}
#pantry #primary #infoBox h3 {
	background:url(../img/pantry/h3-article.png) no-repeat left top;
	padding:5px 0px 5px 30px
}
#kitchenshop #primary #infoBox h3 {
	background:url(../img/kitchenshop/h3-article.png) no-repeat left top;
	padding:5px 0px 5px 30px
}
#pantry #infoBox,#kitchenshop #infoBox {
	margin-top:25px;
}
#pantry #primary #ossmBox .photoBox,
#kitchenshop #primary #ossmBox .photoBox {
	float:left;
	width: 200px;
	margin-right:20px;
}
#pantry #primary #ossmBox .contentBox,
#kitchenshop #primary #ossmBox .contentBox {
	float: left;
	width:420px;
}
#pantry #primary #ossmBox h4,
#kitchenshop #primary #ossmBox h4 {
	color:#64240d;
	font-weight: bold;
	font-size:110%;
}
#pantry #primary #ossmBox img,
#kitchenshop #primary #ossmBox img {
	margin-right:10px;
	vertical-align: top;
}
#shopInfoBox dt,shopInfoBox dd {
	padding:5px 0px;
}
#shopInfoBox {
	font-size:94%;
}
#shopInfoBox dl {
	overflow: hidden;
	border-bottom:1px solid #DDD;

}
#shopInfoBox dt,#shopInfoBox dd {
	padding:5px 0px;
	border-top:1px solid #DDD;
	margin-top:-1px;
	xbackground: url(../img/common/sepLine.png) repeat-x left top;
}
#shopInfoBox dt {
	float:left;
	clear:left;
	width:5em;
}
#shopInfoBox dd {
	margin-left:5em;
}
/*=5 staff
-------------------------------------------------------------*/
#staff #primary {
	margin-top:-7px;
}

#staff #primary .box {
	position: relative;
	padding-top:70px;
	padding-bottom:10px;
	margin-bottom:10px;
}
#staff #primary .box h2 {
	position:absolute;
	left:0px;
	top:0px;
}
#staff #primary .box dl {
	width:455px;
	margin-bottom: 0px;
}
#staff #primary .box dt {
	float:left;
	width:110px;
	clear:left;
	margin-bottom:10px;
}
#staff #primary .box dd {
	margin-left:120px;
	margin-bottom:10px;
	padding-top:3px;
}
/*=6 privacy
-------------------------------------------------------------*/
#privacy #primary dt {
	font-weight: bold;
	margin-bottom: 15px;
}
#privacy #primary dd {
	margin-bottom:15px;
	margin-left:1em;
}
/*=7 sitemap
-------------------------------------------------------------*/
#sitemap #primary  ul {
	background: url(../img/common/sepLine.png) repeat-x left bottom;
	line-height:3;
}
#sitemap #primary  ul ul,#sitemap #primary  ul ul li {
	background:none;
	margin-bottom:0px;
}
#sitemap #primary  ul ul {
	margin-top:-1em;
}
#sitemap #primary  li {
	background: url(../img/common/sepLine.png) repeat-x left top;
}
#sitemap #primary li a {
	padding-left:22px;
	background:url(../img/common/arr02.png) no-repeat 3px 1em;
	display: block;
}
#sitemap #primary  ul ul {
	margin-left:22px;
}
#sitemap #primary  ul ul li a {
	background:none;
	padding-left:0px;
}


/*=outside
-------------------------------------------------------------*/
#volunteer,#freemarket {
	padding: 0!important;
}
#volunteer .photo,
#freemarket .photo {
	float: left;
	width: 210px;
	margin-right: 20px;
}
#volunteer .text,
#freemarket .text {
	width: 410px;
	float: right;
}
#volunteer .inner,
#freemarket .inner {
	padding: 0 20px 40px 20px;
	position: relative;
}
#volunteer .button,
#freemarket .button {
	position: absolute;
	bottom: 30px;
	right: 20px;
}
#volunteer #irai {
	font-size: 90%;
	padding: 20px;
	border-top: 1px #efefef solid;
}
#volunteer #irai .mailtext {
	color: #7E6B5A;
}