@charset "UTF-8";
#slideBox{
	margin-bottom:15px;
}
#home #scheduleBox #slideBox{
	width:431px;
	overflow: hidden;
}
#home #scheduleBox #slideBox #slideBody{
	position: relative;
}
#home #scheduleBox #slideBox .monthbox{
	width:431px;
	position: absolute;
	left:0px;
	top:0px;
}
#home #scheduleBox #slideBox .monthbox dl{
	width:178px;
}

#lesson #scheduleBox #slideBox {
	width:640px;
	overflow: hidden;
}
#lesson #scheduleBox #slideBox #slideBody{
	position: relative;
}
#lesson #scheduleBox #slideBox .monthbox{
	width:640px;
	padding-top:5px;
	position: absolute;
	left:0px;
	top:0px;
}
#scheNav p{
	cursor: pointer;
}

#lesson #calendarBox #calendarslideBox {
	width:640px;
	padding-top: 20px;
	overflow: hidden;
}
#lesson #calendarBox #calendarslideBox #calendarslideBody{
	position: relative;
}
#lesson #calendarBox #calendarslideBox .calendarBox{
	width:640px;
	position: absolute;
	left:0px;
	top:0px;
}
#caleNav p{
	cursor: pointer;
}