			<div class="bnrBox">
<?php if($bodyId == 'lesson'): ?>
				<p><a href="<?php echo $html->url('/', true); ?>pantry/?cat=3"><img src="<?php echo $html->url('/', true); ?>img/lesson/bnr-faq.jpg" alt="リンク：よくあるご質問" width="240" height="90" /></a></p>
<?php endif; ?>
<?php
	$baseurl = $html->url('/', true);
	$url = $baseurl.'inc/sidebnr.html';
	$bnr = file_get_contents('http://www.marusanpantry.com/inc/sidebnr.html');
	echo $bnr;
?>
			</div>
		</div>
	</div>
</div>