@charset "UTF-8";
/*------------------------------------------------------------*/
/*目次　INDEX
	=0 home

search key "="+"n"

//last update 2012/03/01

--------------------------------------------------------------
base color 
-------------------------------------------------------------

-------------------------------------------------------------*/
* {
	background:none !important;
}
body {
	zoom: 70%;
	font-size:10pt;
	line-height: 1.5;
	letter-spacing: 1px;
}
body,#wrapper,#primary {
	width:900px;
	padding:0px;
}
#header,h1,#secondary,#searchBox,#categoryBox,#footer,.topicPath,.btn-print,#relatedBox {
	display:none;
}
h2,h3,#primary,p,.box {
	padding:0px !important;
}
#pointBox {
	padding-left:0px !important;
	height:auto;
}
#contentBox {
	width:550px !important;
}
table {
	border-top:1px solid #DDD;
	width:auto !important;
}
th,td {
	border-bottom:1px solid #DDD;
}
h2 {
	font-size:12pt;
}
.diff {
	text-align: left !important;
}
#recipeBox {
	border:none !important;
	padding:0px !important;
	height:auto !important;
}
#recipeBox .box {
	height:auto !important;
}
#pointBox h3 {
	left:0px !important;
	position: relative !important;
}
.num {
	color:#000 !important;
}
div {
	xborder:1px solid;
}