		<h1>キッチンショップスタッフのイチオシ管理画面</h1>
		<div id="primary">
			<div class="wbox">
				<h2>基本情報登録</h2>
				<p>修正が完了しました。</p>
				<p><a href="<?php echo $this->Html->url('/'); ?>adminrecommends/">一覧に戻る</a></p>
			</div>
		</div>