<?php echo $this->element('admin/gnavi'); ?>
<div style="width:150px;float:left;">
	<p><?php echo h($data['Recipe']['title']); ?></p>
	<p><?php echo h($data['Recipe']['description']); ?></p>
	<p><?php echo nl2br(h($data['Recipe']['material'])); ?></p>
</div>
