			<div class="bnrBox">
				<?php if($bodyId == 'lesson'): ?>
					<p><a href="<?php echo $this->Html->url('/', true); ?>pantry/?cat=3"><img src="<?php echo $this->Html->url('/', true); ?>img/lesson/bnr-faq.jpg" alt="リンク：よくあるご質問" width="240" height="90" /></a></p>
				<?php endif; ?>
				<?php
					$url     = $this->Html->url('/', true) . 'inc/sidebnr.html';
					$bnr     = @file_get_contents($this->Html->url('/inc/sidebnr.html', true));
					if(false != $bnr){
						echo $bnr;
					}
				?>
			</div>
		</div>
	</div>
</div>