				<p><a href="http://marusanpantry.com/recipes/"><img src="http://www.marusanpantry.com/inc/img/sidebnr/bnr-recipe.jpg" width="240" height="90" /></a></p>
				<p class="bnr-blog"><a href="http://shop.plaza.rakuten.co.jp/marusanpantry" target="_blank"><img src="http://www.marusanpantry.com/inc/img/sidebnr/bnr-blog.jpg" width="261" height="111" /></a></p>
				<p><a href="http://www.m-pantry.com/" target="_blank"><img src="http://www.marusanpantry.com/inc/img/sidebnr/bnr-ecshop.jpg" width="240" height="98" /></a></p>
				<p><a href="http://www.marusanpantry.com/pantry/outside/" target="_blank"><img src="http://preview-me.net/m-marusan/img/pantry/bnr-outside.png" width="240" height="93" /></a></p>
