		<a href="./welcome/"><img src="./inc/img/home/1.jpg" width="966" height="355" /></a>
		<a href="http://www.marusanpantry.com/lessons/lesson/105"><img src="./inc/img/home/2.gif" width="966" height="355" /></a>
		<a href="./pantry/"><img src="./inc/img/home/3.gif" width="966" height="355" /></a>
		<a href="./kitchenshop/"><img src="./inc/img/home/4.gif" width="966" height="355" /></a>