<ul style="float:left;">
	<li><?php echo $html->link("管理トップ", $html->url('/admins/',true)); ?></li>
	<li><?php echo $html->link("レシピ", $html->url('/adminrecipes/',true)); ?>
		<ul>
			<li><?php echo $html->link("レシピ登録", $html->url('/adminrecipes/add/',true)); ?></li>
		</ul>
	</li>
	<li><?php echo $html->link("パン・お菓子教室", $html->url('/adminlessons/',true)); ?>
		<ul>
			<li><?php echo $html->link("パン・お菓子教室追加", $html->url('/adminlessons/add/',true)); ?></li>
		</ul>
	</li>
</ul>