<p class="topicPath"><a href="<?php echo $html->url('/', true); ?>"><img src="<?php echo $html->url('/', true); ?>img/common/icon-home.png" alt="ホーム" width="15" height="13" /></a><span>&gt;</span><span>&gt;</span>スタッフ紹介</p>
		<h1><img src="<?php echo $html->url('/', true); ?>img/staff/h1.png" alt="スタッフ紹介" width="122" height="22" /></h1>

		<div id="primary">
			<p class="center" style="margin:5em 0;">申し訳ございません。こちらのコンテンツは現在準備中です...</p>
			
		</div>