<ul style="float:left;">
	<li><?php echo $this->Html->link("管理トップ", $this->Html->url('/admins/',true)); ?></li>
	<li><?php echo $this->Html->link("レシピ", $this->Html->url('/adminrecipes/',true)); ?>
		<ul>
			<li><?php echo $this->Html->link("レシピ登録", $this->Html->url('/adminrecipes/add/',true)); ?></li>
		</ul>
	</li>
	<li><?php echo $this->Html->link("パン・お菓子教室", $this->Html->url('/adminlessons/',true)); ?>
		<ul>
			<li><?php echo $this->Html->link("パン・お菓子教室追加", $this->Html->url('/adminlessons/add/',true)); ?></li>
		</ul>
	</li>
</ul>