		<div id="secondary">
			<p class="btn">
				<a href="<?php echo $html->url('/', true); ?>adminlessons/add/">教室新規登録</a>
			</p>
			<div class="wbox">
				<h2>教室カテゴリ</h2>
				<ul>
					<li><a href="<?php echo $html->url('/adminlessons/index/1', true); ?>">特別教室</a>(<?php echo $lessonnum['speciallesson']; ?>)</li>
					<li><a href="<?php echo $html->url('/adminlessons/index/2', true); ?>">パン教室</a>(<?php echo $lessonnum['breadlesson']; ?>)</li>
					<li><a href="<?php echo $html->url('/adminlessons/index/3', true); ?>">お菓子教室</a>(<?php echo $lessonnum['sweetlesson']; ?>)</li>
					<li><a href="<?php echo $html->url('/adminlessons/index/4', true); ?>">体験教室</a>(<?php echo $lessonnum['taikenlesson']; ?>)</li>
				</ul>
			</div>
		</div>
	</div>