		<h1>マルサンパントリースタッフのイチオシ管理画面</h1>
		<div id="primary">
			<div class="wbox">
				<h2>基本情報登録</h2>
				<p>登録が完了しました。</p>
				<p><a href="<?php echo $this->Html->url('/'); ?>adminpantries/">一覧に戻る</a></p>
			</div>
		</div>