	<p class="topicPath"><a href="<?php echo $this->Html->url('/', true); ?>"><img src="<?php echo $this->Html->url('/', true); ?>img/common/icon-home.png" alt="ホーム" width="15" height="13" /></a><span>&gt;</span><span>&gt;</span>プライバシーポリシー</p>
		<h1><img src="<?php echo $this->Html->url('/', true); ?>img/privacy/h1.png" alt="プライバシーポリシー" width="198" height="20" /></h1>
		<div id="primary">
			<div class="box">
				<p>当社は、今日の高度情報通信社会において個人情報が重要な資産であることを理解し、個人情報を正しく扱うことが当社の重要な責務であると認識し、以下の方針に基づき個人情報の保護に努めることを宣言する。</p>
				<dl>
					<dt>はじめに</dt>
					<dd>株式会社松山丸三(以下「当社」といいます。)は、個人情報の保護を社会的責務であると考え、<br />
						お客様に安心してご利用いただけるウェブサイトの管理・運営を行うため、「松山丸三個人情報保護方針」に基づき、以下のとおり「ウェブサイトにおける個人情報の取扱い」を定めました。 </dd>
					<dt>個人情報の取扱いの適用範囲</dt>
					<dd>個人情報の取扱いについては、お客様が当社のサイトを通じて教室の参加予約をご利用された時に適応されます。<br />
						お客様が当社のサイトを利用される際に収集された個人情報は、当個人情報の取扱いについての考え方に従い管理されます。 </dd>
					<dt>個人情報の利用目的</dt>
					<dd>当社は、お客様から収集させていただいた個人情報、教室参加情報を、<br />
						本サービスを提供する目的の他に、以下の各号に定める目的のために利用することがあります。本サービスの提供または以下に定める目的以外に、<br />
						当社はお客様の個人情報利用することはありません。 <br />
						（1） お客様に対して、当社で開催の教室や、商品・サービス等をご紹介する場合 <br />
						（2） お客様からのお問い合わせに対して回答を行う場合 <br />
						（3） お客様に対して、当社のサービスに対するご意見やご感想のご提供をお願いするため <br />
						（4） 当社がお客様に別途連絡の上、個別にご了解をいただいた目的に利用するため<br />
						（5） お客様の属性（年齢、住所など）ごとに分類された統計的資料を作成するため<br />
						（6） お客様それぞれの嗜好に適合した情報発信やサービスを提供、表示するため</dd>
					<dt>個人情報の安全管理について</dt>
					<dd>当社は個人情報の正確性及び安全性を確保する為、個人情報へのアクセス管理、持ち出し手段の制限、不正アクセスおよび、漏洩、紛失、破壊、改ざんなどに対しては、合理的な安全対策を講じるとともに、万一、漏洩等個人情報に関する事故が発生した場合には、再発防止策を含む適切な対策を速やかに講じます。</dd>
					<dt>個人情報の預託について</dt>
					<dd>当社は、明示した利用目的の達成の為に必要な範囲で業務を預託する場合があります。<br />
						その場合は、業務委託先の適切な管理及び監督を行います。<br />
						（業務委託先とはダイレクトメール発送のための印刷会社等。） </dd>
					<dt>個人情報の第三者への開示</dt>
					<dd>当社は、個人情報を本人の許可無く他の事業者や個人などの第三者に提供および公開することはありません。<br />
						ただし、以下に該当する場合はその限りではありません。<br />
						（1） 情報提供について本人の同意がある場合<br />
						（2） 官公庁等の公的機関から法令に基づき開示を求められた場合<br />
						（3） 本サイトの運営に関する業務提携先に対して個人情報を開示する場合。<br />
						ただし、この場合に開示する情報は必要な範囲のみに限定し、開示先に対して契約等により個人情報の管理を義務付けます。</dd>
					<dt>その他インターネット上のプライバシーに関する確認事項</dt>
					<dd>当社は、個人情報の取扱いの内容を、当社の営業上の必要性、新法令の施行、既存法令の改正その他の事情により、<br />
						事前の予告なく変更することがあります。変更した場合は、本ウェブサイトに掲示し、お知らせします。 <br />
						ご利用の際には本ページの最新の内容をご確認ください。 <br />
						個人情報、保有個人データ等の取扱いに関するご要望・ご質問等は、下記連絡先までお問合せください。</dd>
					<dt>個人情報の取扱いの変更及び通知</dt>
					<dd>会員様の個人情報の管理者の所属、連絡先及び、会員様がご自身の個人情報について開示・訂正・削除を希望される場合の連絡先を下記に示します。<br />
						開示・訂正・削除を希望される場合は、電話、Eメールでご連絡ください。その際にはご本人であることを確認させていただきますので、ご了承ください。</dd>
					<dt>個人情報の管理者及び開示・訂正・削除</dt>
					<dd>会員様の個人情報の管理者の所属、連絡先及び、会員様がご自身の個人情報について開示・訂正・削除を希望される場合の連絡先を下記に示します。　<br />
						開示・訂正・削除を希望される場合は、電話、Eメールでご連絡ください。その際にはご本人であることを確認させていただきますので、ご了承ください。</dd>
				</dl>
				<p class="f_right">株式会社松山丸三<br />
					個人情報管理責任者<br />
					〒790-0005 愛媛県松山市花園町６−１ <br />
					TEL:089-931-1167 FAX:089-931-1148<br />
					セキュリティ責任者:岡内 正 </p>
			</div>
		</div>